  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
  
 body {
            background-color: black;
        }

        .card {
            display: flex;
            width: 80vw;
            /* border-bottom: 0.1px solid whitesmoke; */
            /* align-items: center; */
            gap: 8px;
            padding: 5px 10px;
            background-color: black;
            color: white;
            margin: 5px;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            cursor: pointer;
        }

        .image img {
            object-fit: fill;
            width: 200px;
            border-radius: 10px;
            z-index: 1;
        }

        .image {
            position: relative;
            margin: 0
        }

        h1 {
            font-size: 22px;
            margin-top: 5px;
        }
        p {
            color: #aaa;
        }

        .image .capsule {
            bottom: 0;
            right: 0;
            position: absolute;
            background-color: black;
            margin: 7px;
            padding: 3px;
            border-radius: 5px;
            font-size: 14px;
            opacity: 0.7;
        }
        .card:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }
       